<div id='signin'>
  <h1>signin</h1>
  <form name="signinForm" ng-submit='signin()' novalidate>
    <input name='username' type='text'ng-model='user.username' ng-minlength='6' ng-maxlength='16'>
    <p ng-show='signinForm.username.$invalid && !signinForm.username.$pristine'>Enter a valid username</p>
    <input name='password' type="password" ng-model='user.password' ng-minlength='8' ng-maxlength='16'>
    <p ng-show='signinForm.password.$invalid && !signinForm.password.$pristine'>Enter a valid password</p>
    <button>signin</button>
  </form>
  <a href="#/signup">Don't have an account? <strong>Signup</strong> ...</a>
</div>
